td{
    border:1px solid white;
    padding:5px;
}
.empty{
    padding:5px;
    border:1px solid white !important;
    background-color:inherit !important;

}
.empty:hover{
    color:inherit;
    background-color: inherit;
    border:1px solid white !important;
    cursor:default !important;
}
td:hover{
    border:1px solid black;
    cursor:pointer;
}
.red{
   background-color:rgb(255, 149, 130);
}
.orange{
    background-color:rgb(250, 209, 132);
}
.blue{
    background-color:rgb(171, 203, 255);
}