td{
    border:1px solid white;
}
.empty{
    border:none;
    background-color:inherit !important;

}
.empty:hover{
    color:inherit;
    background-color: inherit;
    border:1px solid white !important;
}
td:hover{
    border:1px solid black;
}
.red{
   background-color:rgb(255, 149, 130);
}
.orange{
    background-color:rgb(250, 209, 132);
}
.blue{
    background-color:rgb(171, 203, 255);
}
sub{
    text-align:center !important;
}